html {
  min-width: 360px;
  font-family: fantasy;
}

h1 {
  margin: 50px 0;
  color: #495057;
  font-family: cursive;
}

.search-block {
  margin-bottom: 20px;
}

.filter-block {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.filter-panel {
  box-sizing: border-box;
  width: fit-content;
  margin-bottom: 50px;
}

.search-wrapper {
  margin: auto;
  max-width: 500px;
}

.input-search {
  border-radius: 5px 0 0 5px;
}

.button-search {
  border-radius: 0 5px 5px 0;
}

#body-table tr:hover{
  cursor: pointer;
  background-color: #e9ecef;
}

.avatar img{
  width: 25px;
  height: 25px;
}

.col-avatar {
  width: 75px;
  text-align: center;
}

.avatar {
  text-align: center;
}
